/* Estilização para o corpo da página */
html {
    font-size: 13px;
    position: relative;
    min-height: 100%;
}

/* Estilização para o espaço inferior do corpo */
body {
    margin-bottom: 60px;
}

/* Adiciona espaçamento entre containers de cadastro */
.main-container + .main-container {
    margin-top: 20px;
}

/* Estilo para a página de cadastro */
.date-input {
    border: 1px solid #ced4da;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(86, 17, 82);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.welcome-container {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(9, 1, 1, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-right: auto
}

.welcome-message {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-control {
    font-size: 13px;
    font-size: 13px;
    margin-bottom: 2em;
}

    .form-control::placeholder {
        font-size: 13px;
    }

.form-group label {
    display: none;
}

.menu-container {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: max-content;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.options-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.option-button {
    background-color: #031a44b5;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size:13px;
    margin-bottom: 3px;
    text-decoration: none;
    text-align: center;
    width: 200px;
}

.option-deslogar {
    background-color: #700f0f;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    width: 200px;
}

    .option-deslogar:hover {
        background-color: #c01b1b;
    }

.option-button:hover {
    background-color: #0056b3;
}

.menu-button {
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

@media (max-width: 768px) {
    .menu-container {
        display: none;
    }
}

/* Estilização para as alterações de tamanho de fonte */
html {
    font-size: 13px;
}

@media (min-width: 768px) {
    html {
        font-size: 13px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem rgb(86, 17, 82), 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
}

.field-validation-error {
    color: #e01d1d;
}

.close-alert {
    position: absolute;
    right: -10px;
    top: -15px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}

.form-entrar {
    width: 250px; /* Largura reduzida das caixas de formulário */
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.7); /* Cor de fundo mais transparente */
    border: 1px solid #ccc; /* Adicionando uma borda leve */
    border-radius: 8px; /* Borda arredondada */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 400px; /* Defina o valor desejado para a largura máxima */
    width: 100%;
    margin: 0 auto; /* Centraliza horizontalmente */
}

.user-identification {
    font-size: 13px;
    color: #fff; /* Mesma cor que os bot?es */
    background: rgba(0, 0, 0, 0.8); /* Cor de fundo semelhante ? dos bot?es */
    padding: 10px; /* Espa?amento interno */
    border-radius: 5px; /* Borda arredondada */
    margin-bottom: 10px;
    text-align: center; /* Centraliza o texto horizontalmente */
    cursor: pointer; /* Altera o cursor para parecer um bot?o clic?vel */
    width: 200px;
}


body, html {
    margin: 0;
    width: auto;
    font-family: arial, sans-serif;
    color: #242424;
    font-size: 13px;
    line-height: 1.8;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px dashed #918F8F;
}

thead tr th {
    padding-top: 5px;
    padding-bottom: 10px;
}

thead tr td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

tbody tr td {
    padding-left: 10px;
    padding-right: 10px;
}

tfoot tr td {
    padding-left: 10px;
    padding-right: 10px;
}

.border-top {
    border-top: 1px dashed #FFFFFF;
}

.border-bottom {
    border-bottom: 1px dashed #FFFFFF;
}

.border-left {
    border-left: 1px dashed #FFFFFF;
}

.border-right {
    border-right: 1px dashed #FFFFFF;
}

.border-top, .border-bottom, .border-left, .border-right {
    border-color: #918F8F;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-value {
    text-align: right;
}

.row-width {
    height: 30px;
}

.table-clean {
    border: 0px;
}

.table-label-title {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.table-label-text {
    text-align: center;
    font-size: 13px;
}

.table-label-text-description {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.padding-clean {
    padding: 0px;
}

.display-block {
    display: block;
}

.row-label-value {
    font-size: 13px;
}

.row-description {
    padding-top: 15px;
    padding-bottom: 5px;
}

@media print {
    .pagebreak {
        page-break-before: always;
    }
    /* page-break-after works, as well */
}
