@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
        <main role="main" class="pb-3">
            <div class="main-container text-center d-flex justify-content-center align-items-center" style="min-height: 100vh;">
                <!-- Adicionado a classe text-center para centralizar -->
                <!-- Conteúdo de boas-vindas -->
                <div class="welcome-container">
                    <!-- Mensagem de boas-vindas -->
                    <div class="welcome-message">Bem-vindo, Funcionário!</div>
                    <!-- Contêiner de informações da empresa -->
                    <div class="company-info">
                        <p>Empresa de Recursos Humanos</p>
                        <p>Seja bem-vindo ao nosso sistema. Aqui você pode acessar informações importantes e realizar diversas ações relacionadas aos recursos humanos.</p>
                        <!-- Seção de assinatura da newsletter -->
                        <div class="newsletter">
                            <p>Assine nossa newsletter para receber atualizações e notícias:</p>
                            <input type="text" placeholder="Seu e-mail">
                            <button>Assinar</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>


